{% extends 'base.html' %}
{% block title %}
  KidLit Swap | Login
{% endblock %}
{% load i18n %}

{% block head_title %}
  {% trans 'Sign in' %}
{% endblock %}

{% block content %}
  <!-- Display login errors -->
  {% if form.non_field_errors %}
  <div class="container text-center mt-3">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {% for error in form.non_field_errors %}
            <p class="login-error">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <!-- Login Form Container -->
  <div class="container auth__container">
    <h1 class="page-title">{% trans 'Log In' %}</h1>
    <hr class="break" />
    <br />
    <p class="text-center mt-3">
      {% blocktrans %}Welcome to KidLit Swap! Don't have an account?
      <a href="{{ signup_url }}" class="text-dark"><u>Sign up</u></a>{% endblocktrans %}
    </p>
    <!-- Form Row -->
    <div class="row justify-content-center">
      <!-- Form Column -->
      <div class="col-12 col-md-8 col-lg-6 mt-3 mb-3">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <!-- Username Input -->
          <div class="form-group">
            <label for="{{ form.login.id_for_label }}" class="form-label">{{ form.login.label }}</label>
            {{ form.login }}
          </div>
          <!-- Password Input -->
          <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
            {{ form.password }}
          </div>
          <!-- Remember Me Checkbox -->
          <div class="form-group form-check">
            {{ form.remember }}
            <label class="form-check-label" for="{{ form.remember.id_for_label }}">
              {{ form.remember.label }}
            </label>
          </div>
          <!-- Redirect Field -->
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <!-- Submit Button -->
          <button class="btn btn-account animated-zoom" type="submit">{% trans 'Log in' %}</button>
        </form>
      </div>
      <!-- End Form Column -->
    </div>
    <!-- End Form Row -->
  </div>
  <!-- End Login Form Container -->

{% endblock %}
