{% extends 'base.html' %}
{% block title %}
  KidLit Swap | Sign Up
{% endblock %}
{% load i18n %}

{% block head_title %}
  {% trans 'Signup' %}
{% endblock %}

{% block content %}
  <!-- Signup Form Container -->
  <div class="container auth__container">
    <h1 class="page-title text-center pt-1">{% trans 'Sign Up' %}</h1>
    <hr class="break" />
    <br />
    <p class="text-center mt-3">
      {% blocktrans %}Have an account? <a href="{{ login_url }}" class="text-dark"><u>Log in</u></a>{% endblocktrans %}
    </p>
    <!-- Form Row -->
    <div class="row justify-content-center">
      <!-- Form Column -->
      <div class="col-12 col-md-8 col-lg-6 mt-3 mb-3">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <!-- Username Input -->
          <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
            {{ form.username }}
          </div>
          <!-- Email Input -->
          <div class="form-group">
            <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
            {{ form.email }}
          </div>
          <!-- Password1 Input -->
          <div class="form-group">
            <label for="{{ form.password1.id_for_label }}" class="form-label">{{ form.password1.label }}</label>
            {{ form.password1 }}
          </div>
          <!-- Password2 Input -->
          <div class="form-group">
            <label for="{{ form.password2.id_for_label }}" class="form-label">{{ form.password2.label }}</label>
            {{ form.password2 }}
          </div>
          <!-- Redirect Field -->
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <!-- Submit Button -->
          <button class="btn btn-account animated-zoom" type="submit">{% trans 'Sign up' %}</button>
        </form>
      </div>
      <!-- End Form Column -->
    </div>
    <!-- End Form Row -->
  </div>
  <!-- End Signup Form Container -->
{% endblock %}