{% extends 'base.html' %}

{% block title %}
  KidLit Swap | Add Book
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-title text-center pt-1">Add Book</h1>
    <hr class="break" />
    <br />

    <section class="add-book-section">
        {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
                <div class="book-form">
                    <form method="post" action="{% url 'add_book' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.title.id }}" class="form-label">Title*</label>
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.author.id }}" class="form-label">Author*</label>
                            {{ form.author }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.description.id }}" class="form-label">Description*</label>
                            {{ form.description }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.image.id }}" class="form-label">Image</label>
                            {{ form.image }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.category.id }}" class="form-label">Category</label>
                            {{ form.category }}
                        </div>
                        <div class="mb-3 new-category">
                            <label for="{{ form.new_category.id }}" class="form-label">Do you want to add a new Category?</label>
                            {{ form.new_category }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary add-btn">Add Book</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </section>
        {% endif %}
    </section>
  </div>
{% endblock %}
