{% extends 'base.html' %}
{% load static %}


{% block title %}
  KidLit Swap | Book Details
{% endblock %}

{% block content %}
  <!-- Book Details -->
  <div class="container">
    <h1 class="page-title">Book Details</h1>
    <hr class="break" />
    <br />

    <div class="cards__container">
      <div class="book-details__container row">
        <div class="col-md-4 text-center mx-auto">
          {% if 'placeholder' in book.image.url %}
            <!-- Placeholder Image if Image is Not Available -->
            <img src="https://res.cloudinary.com/dobdtuunf/image/upload/v1701900777/book_placeholder.png" class="book-details__img img-fluid" alt="placeholder image" />
          {% else %}
            <!-- Display Book Image -->
            <img src=" {{ book.image.url }}" alt="{{ book.title }}" class="book-details__img img-fluid" />
          {% endif %}
        </div>
        <div class="col-md-8">
          <!-- Book Title -->
          <p class="book-details__title text-center text-uppercase">{{ book.title }}</p>
          <!-- Author -->
          <p class="book-details__author">Author: {{ book.author }}</p>
          <!-- Description -->
          <p class="desc">Description: {{ book.description }}</p>
          <!-- Category -->
          <p class="cat">Category: {{ book.category }}</p>
          <!-- Book Status -->
          <p class="status {% if book.status == 'Available' %}available{% elif book.status == 'Borrowed' %}borrowed{% endif %}">Status: {{ book.status }}</p>
          <!-- Added by -->
          <p class="added_by_flag text-center">Added by: {{ book.added_by.username }}</p>
          <!-- Borrow Book -->
          <div class="borrow-section">
            {% if request.user == book.added_by and book.status == 'Available' %}
              <!-- Display a message for the book owner -->
              <div class="alert alert-success" role="alert">
                <p class="mb-0 text-center">Thank you for sharing your book on KidLitSwap!</p>
              </div>
            {% elif book.status == 'Available' %}
                {% if user.is_authenticated %}
                <!-- Button to navigate to the borrow_book page with the book's slug -->
                <form method="get" action="{% url 'borrow_book' slug=book.slug %}">
                  <button type="submit" class="btn btn-primary">Borrow This Book</button>
                </form>
                {% else %}
                    <!-- Prompt non-authenticated users to log in -->
                    <div class="alert alert-info" role="alert">
                      <p class="mb-0">Do you want to borrow this book?</p>
                      <a href="{% url 'account_login' %}" class="btn btn-primary mt-2">Log In</a>
                    </div>
                {% endif %}
            {% elif book.status == 'Borrowed' %}
              <!-- Display a message for borrowed books -->
              <div class="alert alert-warning" role="alert">
                <p class="mb-0">
                  This book is currently borrowed by
                  <span class="fw-bold">{{ book.borrower.username }}</span>
                  and is expected to be returned on
                  <span class="fst-italic">{{ book.return_date|date:"F j, Y" }}.</span>
                </p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/book_detail.js' %}"></script>

{% endblock %}