{% extends 'base.html' %}

{% block title %}
  KidLit Swap | Books
{% endblock %}

{% block head_title %}
  Books
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-title">Book List</h1>
    <hr class="break" />
    <br />

    <div class="cards__container">
      {% for book in books %}
        <div class="card">
          <img src="{{ book.image.url }}" alt="{{ book.title }}" />
          <h2><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h2>
          <p>Author: {{ book.author }}</p>
          <p>Status: {{ book.get_status_display }}</p>
          <a href="{% url 'book_detail' slug=book.slug %}"><button class="book_btn">View Details</button></a>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% include "paginator.html" %}

{% endblock %}
