{% extends 'base.html' %}

{% block title %}
  KidLit Swap | Books
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-title">Book List</h1>
    <hr class="break" />
    <br />
    <!-- Books Cards -->
    <div class="cards__container row">
      {% for book in books %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
          <a href="{% url 'book_detail' slug=book.slug %}" class="card-link">
            <div class="card">
              {% if 'placeholder' in book.image.url %}
                <!-- Placeholder Image if Image is Not Available -->
                <img src="https://res.cloudinary.com/dobdtuunf/image/upload/v1701900777/book_placeholder.png" class="img-fluid" alt="placeholder image" />
              {% else %}
                <!-- Display Book Image -->
                <img src=" {{ book.image.url }}" alt="{{ book.title }}" class="img-fluid" />
              {% endif %}
              <!-- Book Title -->
              <p class="book_title text-center text-uppercase">{{ book.title }}</p>
              <!-- Author -->
              <p class="author">Author: {{ book.author }}</p>
              <!-- Book Status -->
              <p class="status {% if book.status == 'Available' %}available
                               {% elif book.status == 'Borrowed' %}borrowed{% endif %}">
                  Status: {{ book.status }}</p>
              <!-- Added by -->
              <p class="added_by_flag text-center">Added by: {{ book.added_by }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

<!-- Paginator -->
{% include 'paginator.html' %}

<hr class="break break-lg">

<!-- Add Book -->
<div class="container add__container mt-5 mb-5">
  <div class="row">
    <div class="text-center">
        <h2 class="page-title">Hello {{user.username}}!</h2>
        <h3 class="pt-3">Do you want to add a book to our library?</h3>
        <br />
        <a href="{% url 'add_book' %}" class="btn btn-primary">Add Book</a>
    </div>
  </div>
</div>

{% endblock %}