{% extends 'base.html' %}

{% block title %}
  KidLit Swap | Books
{% endblock %}

{% block head_title %}
  Books
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-title">Book List</h1>
    <hr class="break" />
    <br />
    <!-- Books Cards -->
    <div class="cards__container">
      {% for book in books %}
      <a href="{% url 'book_detail' slug=book.slug %}" class="card-link">
        <div class="card">
          {% if "placeholder" in book.image.url %}
            <!-- Placeholder Image if Image is Not Available -->
            <img src="https://res.cloudinary.com/dobdtuunf/image/upload/v1701900777/Book_img.png" class="book_img" alt="placeholder image">
          {% else %}
            <!-- Display Book Image -->
            <img src=" {{ book.image.url }}" alt="{{ book.title }}" class="book_img">
          {% endif %}
          <!-- Book Title -->
          <p class = "book_title">{{ book.title }}</p>
          <!-- Author -->
          <p class = "author">Author: {{ book.author }}</p>
          <!-- Book Status -->
          <p class="status {% if book.status == 'Available' %}available{% elif book.status == 'Borrowed' %}borrowed{% endif %}">Status: {{ book.status }}</p>
          <!-- Added by -->
          <p class = "added_by_flag">{{ book.added_by }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  
<!-- Include Paginator -->  
{% include "paginator.html" %}

{% endblock %}

<!-- JavaScript to toggle the form visibility -->
<script>
  document.getElementById('addBookBtn').addEventListener('click', function () {
    document.getElementById('addBookForm').style.display = 'block';
  });
</script>
