{% extends 'base.html' %}
{% load static %}

{% block title %}
  KidLit Swap | Borrow Book
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-title">Borrow Book</h1>
    <hr class="break" />
    <br />

    {% if user.is_authenticated and not request.user.username == book.added_by %}
      <form id="borrowForm" method="post" action="{% url 'borrow_book' slug=book.slug %}">
        {% csrf_token %}

        <!-- Display return date selection for authenticated users -->
        <label for="returnDate">Select return date:</label>
        <input type="date" id="returnDate" name="return_date" min="{% now 'Y-m-d' %}" required />
        <button type="submit" class="btn btn-primary">Confirm Borrow</button>
      </form>
    {% else %}
      <p>
        Authentication required to borrow this book. <a href="{% url 'account_login' %}">Log In</a>
      </p>
    {% endif %}
  </div>

  <script src="{% static 'js/book_detail.js' %}"></script>
{% endblock %}
