{% extends 'base.html' %}

{% block title %}
  Books - {{ category_name }}
{% endblock %}

{% block content %}
<div class="container pb-3">
  <h1 class="page-title text-center pt-1">Books - {{ category_name }}</h1>
  <hr class="break" />
  <br />

  <div class="cards__container row g-0 rounded">
    {% for book in object_list %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
        <a href="{% url 'book_detail' slug=book.slug %}" class="card-link">
          <div class="card rounded m-3 text-center position-relative">
            <div class="row">
              <div class="col-12 ratio ratio-1x1 mt-1">
                {% if 'placeholder' in book.image.url %}
                  <!-- Placeholder Image if Image is Not Available -->
                  <img src="https://res.cloudinary.com/dobdtuunf/image/upload/v1701900777/book_placeholder.png" alt="placeholder image" class="img-fluid" style="object-fit: contain;"/>
                {% else %}
                  <!-- Display Book Image -->
                  <img src="{{ book.image.url }}" alt="{{ book.title }}" class="img-fluid" style="object-fit: contain;" />
                {% endif %}
              </div>
              <div class="col-12 ratio ratio-4x3">
                <!-- Card Body -->
                <div class="card-body d-flex flex-column justify-content-between">
                  <!-- Book Title -->
                  <p class="card-title fw-bold text-center text-uppercase text-truncate px-1 py-0">{{ book.title }}</p>
                  <!-- Author -->
                  <p class="author fst-italic text-truncate px-1 py-0 mb-4">Author: {{ book.author }}</p>
                  <!-- Book Status -->
                  <p class="status fw-bold {% if book.status == 'Available' %}available
                                    {% elif book.status == 'Borrowed' %}borrowed{% endif %}">
                    Status: {{ book.status }}</p>
                  <!-- Added by -->
                  <p class="card-text added text-truncate px-1 py-0 rounded">Added by: {{ book.added_by }}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Paginator -->
{% include 'paginator.html' %}

<!-- Back Button -->
<div class="text-center">
    <a href="{% url 'book_list' %}" class="btn btn-green mb-3">Back to Book List</a>
</div>

{% endblock %}
