{% extends 'base.html' %}

{% block title %}
  KidLit Swap | Edit Book
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <h1 class="page-title text-center pt-1">Edit Book</h1>
    <hr class="break" />
    <br />

    <section class="edit-book-section">
      <div class="row justify-content-center">
        <div class="col-md-8 mb-3">
          <div class="book-form">
            {% if user.is_authenticated and book.added_by == user %}
              <!-- Checks if the user is signed in and the book they're trying to access is owned by them -->
              {% load cloudinary %}
              <div class="mb-3">
                <form method="post" action="{% url 'edit_book' slug=book.slug %}" enctype="multipart/form-data" id="editBookForm">
                  {{ form | crispy }}
                  {% csrf_token %}
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary add-btn">Save Changes</button>
                  </div>
                </form>
              </div>
            {% else %}
              <p>You do not have permission to edit this book.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
{% endblock %}
