{% extends 'base.html' %}

{% block title %}
  KidLit Swap | Home
{% endblock %}

{% block content %}
  <!--  Hero Call to Action section -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-lg-1 order-md-1 col-md-12 d-flex flex-column justify-content-center">
          <h1 class="text-center"><span>KidLit Swap:</span><br /> Exchange the Magic of Kids' Literature</h1>
          {% if user.is_authenticated %}
            <p class="text-center">Welcome back to KidLit Swap!</p>
            <div class="text-center">
              <a href="{% url 'add_book' %}" class="btn btn-primary btn-lg add-btn">Add Book</a>
            </div>
          {% else %}
            <p class="text-center">Join, share, borrow, and let the enchanting adventures begin!</p>
            <div class="text-center">
              <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg add-btn">Sign Up</a>
            </div>
          {% endif %}
        </div>
        <div id="hero-img" class="col-lg-6 order-lg-2 order-md-2 col-md-12">
          <img src="https://res.cloudinary.com/dobdtuunf/image/upload/v1701261882/a0b73fb2-40b9-4eaa-8748-36e0af64a964_wztf06.webp" class="img-fluid animated" alt="Happy kids with a book" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Call to Action section -->

  <!-- About section -->
  <section id="about" class="container px-0 pt-4">
    <!-- About Us Content -->
    <div class="container mx-auto w-80">
      <div class="page-title col-12 my-3 text-center">
        <h2>About Us</h2>
      <hr class="break" />
      </div>
      <div class="row mb-sm-5">
        <div class="col-12 mt-3 my-md-3 text-center lead">
          <p class="text-m">KidLit Swap is a vibrant online community fostering a passion for children's literature. Our virtual library promotes free book exchanges, nurturing a love for reading in young minds.
            <br>Join us to share your favorite books, borrow great reads, and help create a future generation of passionate readers.
        </div>
      </div>
    </div>
    <!-- End About Us Content -->
  
    <!-- Discover Our Features -->
    <div class="container-fluid mx-auto w-80">
      <div class="row about-outer p-4">
        {% for feature in features %}
          <div class="col-12 col-md-4 mb-2">
            <div class="about-image text-center mb-2 text-sm">
              <i class="fa-solid fa-{{ feature.icon }} fa-6x"></i>
            </div>
            <div class="about-content text-center">
              <div class="w-title">
                <h3 class="about-title pt-2">{{ feature.title }}</h3>
              </div>
              <p class="about-text text-m">{{ feature.description1 }}</p>
              <p class="about-text text-m">{{ feature.description2 }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- End Discover Our Features -->


  </section>
{% endblock %}
