{% extends 'base.html' %}

{% block title %}
  KidLit Swap | My Books
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-title text-center pt-1">My Books</h1>
    <hr class="break" />
    <br />
    <!-- Added Books section -->
    <section class="my-books-section pt-0">
      <div class="static-card py-3">
        <h2 class="my-books-title text-center">Added Books</h2>
      </div>
      {% if user.is_authenticated %}
      <div class="cards__container row g-2 g-sm-3 rounded">
        {% for book in user_books %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
          <div class="card no-pointer rounded m-3 text-center position-relative">
            <div class="ratio ratio-1x1 mt-1">
              {% if 'placeholder' in book.image.url %}
              <!-- Placeholder Image if Image is Not Available -->
              <img src="https://res.cloudinary.com/dobdtuunf/image/upload/v1701900777/book_placeholder.png" class="img-fluid" alt="placeholder image" style="object-fit: contain;" />
              {% else %}
              <!-- Display Book Image -->
              <img src="{{ book.image.url }}" alt="{{ book.title }}" class="img-fluid" style="object-fit: contain;" />
              {% endif %}
            </div>
            <!-- Card Body -->
            <div class="card-body d-flex flex-column justify-content-between">
              <!-- Book Title -->
              <p class="card-title fw-bold text-center text-uppercase text-truncate px-2 py-2">{{ book.title }}</p>
              <!-- Author -->
              <p class="author fst-italic text-truncate px-2 py-0 mb-3">Author: {{ book.author }}</p>
              <!-- Book Status -->
              <p class="status fw-bold {% if book.status == 'Available' %}available
              {% elif book.status == 'Borrowed' %}borrowed{% endif %}">
              Status: {{ book.status }}</p>
              <!-- Buttons -->
              <div class="d-grid gap-2">
                <a href="{% url 'book_detail' slug=book.slug %}" class="btn btn-primary btn-sm"><i class="fas fa-info-circle"></i> View Details</a>
                <a href="{% url 'edit_book' slug=book.slug %}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i> Edit</a>
                <a href="{% url 'delete_book' slug=book.slug %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </section>
  </div>
{% endblock %}