{% extends 'base.html' %}

{% block title %}
  KidLit Swap | My Books
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-title">My Books</h1>
    <hr class="break" />
    <br />

    <section class="my-books-section">
      <h2>Added Books</h2>
      {% if user.is_authenticated %}
      <div class="cards__container">
        <div class="row">
          {% for book in user_books %}
            <div class="col-md-4 mb-4">
              <div class="card">
                {% if 'placeholder' in book.image.url %}
                  <!-- Placeholder Image if Image is Not Available -->
                  <img src="https://res.cloudinary.com/dobdtuunf/image/upload/v1701900777/book_placeholder.png" class="img-fluid" alt="placeholder image" />
                {% else %}
                  <!-- Display Book Image -->
                  <img src="{{ book.image.url }}" alt="{{ book.title }}" class="img-fluid" />
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p class="card-text">{{ book.description }}</p>
                  <a href="{% url 'book_detail' slug=book.slug %}" class="btn btn-primary">View Details</a>
                  <a href="{% url 'edit_book' slug=book.slug %}" class="btn btn-secondary">Edit</a>
                  <a href="{% url 'delete_book' slug=book.slug %}" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </section>

    <section class="borrowed-books-section">
      <h2>Borrowed Books</h2>
      <div class="cards__container">
        <div class="row">
          {% for book in borrowed_books %}
            <div class="col-md-4 mb-4">
              <div class="card">
                {% if 'placeholder' in book.image.url %}
                  <!-- Placeholder Image if Image is Not Available -->
                  <img src="https://res.cloudinary.com/dobdtuunf/image/upload/v1701900777/book_placeholder.png" class="img-fluid" alt="placeholder image" />
                {% else %}
                  <!-- Display Book Image -->
                  <img src="{{ book.image.url }}" alt="{{ book.title }}" class="img-fluid" />
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p>Owner of the book: {{ book.added_by.username }}</p>
                  <p>Return Date: {{ book.return_date }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>    
  </div>
{% endblock %}
